div {
  position: relative;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(249, 250, 251, 0.6);
  border: 1px solid lightgray;
  border-radius: 10px;
}

input:focus {
  outline: 1px solid skyblue;
}

input::placeholder {
  color: gray;
}

input[type='file'] {
  display: none;
}

input:disabled {
  background-color: lightgray;
}

.image_upload {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: lightgray;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
}
